/* 
#9D6367 vinho

#E3E2DC gelo escuro

#F2F3F7 gelo claro 
*/

header {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #9D6367;
}

header button {
    outline: none;
    border: none;
    background-color: #9D6367;
}

header .menuHanburguer {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

header .menuHanburguer .linha {
    height: 5px;
    background-color: #E3E2DC;
}

.titulo {
    display: flex;
    text-decoration: none;
}

/* .titulo:hover {
    text-decoration: underline;
} */

.titulo, .titulo h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #E3E2DC;
}

nav ol {
    display: flex;
}

nav ol li a {
    display: inline-block;
    padding: 30px;
    text-decoration: none;
    color: #E3E2DC;
    text-transform: uppercase;
}

nav ol li a.active {
    background-color: #E3E2DC;
    color: #8a8a8a;
    cursor: default;
}

nav ol li a:hover {
    background-color: #E3E2DC;
    color: #8a8a8a;
}


